.edit-btn {
    color: white !important;
    background-color: black !important;
}

.edit-btn:hover {
    color: black !important;
    background-color: #f9b384 !important;
}

.delete-btn {
    color: white !important;
    background-color: #f46161 !important;
}

.album-btn {
    color: black !important;
    background-color: #f9b384 !important;
}

.album-btn:hover {
    color: white !important;
    background-color: black !important;
}

.create-btn {
    background-color: #343a40 !important;
    color: white !important;
}

.create-btn:hover {
    background-color: #f9b384 !important;
    color: black !important;
}