.gallery-container {
    /* margin-top: 5rem; */
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 4rem;
    opacity: 0; /* hide the gallery initially */
    animation: fade-in 1s forwards; /* fade in the gallery over 1 second */
}

/* html {
    background-color: #f6eeeecc;
} */

body {
    background-color: #f6eeeecc !important;
    background-image: url("assets/musicGalleryBackground.jpg");
    background-size: cover;
}

.container {
    margin-bottom: 5rem;
}
  
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.transparent-card .card {
    background-color: #f8f9faba;
    box-shadow: none;
}

.form-control {
    background-color: #f8f9fa91 !important;
    box-shadow: none !important;
}

.form-control-file {
    background-color: #f8f9fa91 !important;
    box-shadow: none !important;
}
