.footer-margin {
    margin-top: 10rem;
}

audio {
    display: none;
}

.btn-primary{
    background-color: #24476c !important;
}

.dropdown-menu a:hover {
background-color: #fefdff}

li a:hover,.dropdown:hover .dropdown-menu {
  display: block;
}

