
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Contact Us Page UI Design | Html CSS</title>
 
  
</head>
<body>
  
  <section>
  
    <div class="container">
      <div class="contactInfo">
        <div>
          <h2>Contact Info</h2>
          <ul class="info">
            <li>
              <p>Talk to Sales</p>
            </li>
            <li>
              <p>Interested in our software? Just pick up the phone to chat with a member of our sales team.</p>
            </li>
            <li>
               <span><img src="../../../assets/images/call.jpeg" alt="..."></span> 
              <span>310-386-1623</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="contactForm">
        <form onSubmit= reset(); >
          <h2>Contact Customer Support</h2>
          <div class="formBox">
            <div class="inputBox w50">
              <input type="text" name="" required>
              <span>First Name</span>
            </div>
            <div class="inputBox w50">
              <input type="text" name="" required>
              <span>Last Name</span>
            </div>
            <div class="inputBox w50">
              <input type="email" id="email" name="email" required>
              <span>Email Address</span>
            </div>
            <div class="inputBox w50">
              <input type="text" name="" required>
              <span>Mobile Number</span>
            </div>
            <div class="inputBox w100">
              <textarea name="" required></textarea>
              <span>Write your message here...</span>
            </div>
            <div class="inputBox w100">
              <input type="submit" value="Send">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>










