 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Website Landing Page</title>
 
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <h1>MyMusic</h1>
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="hero">
      <h1>Welcome to MyMusic</h1>
      <a [routerLink]="['/create']" class="btn">Get Started</a>
    </div>
  </header>
  <section class="video-container">
    <video autoplay muted loop>
      <source src="../../assets/videos/music-124869.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
  </section>
</body>
</html> 
 
