<div [@fadeIn]>
	<div class="row">
		<div class="col-md-12">
			<h1><span class="badge badge-dark">{{ genre.toUpperCase() }}</span></h1>
			<div class="btn-group pull-right pagination-btn" role="group" aria-label="Basic example">
				<a class="btn" [routerLink]="['/dashboard/explore/'+genre+'/'+prePage]"><i class="fa fa-angle-left"></i></a>
				<a class="btn" *ngIf="nextPage"  [routerLink]="['/dashboard/explore/'+genre+'/'+nextPage]">
					<i class="fa fa-angle-right"></i>
				</a>
				<a class="btn" *ngIf="!nextPage">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" *ngFor="let song of songs; let i = index">
					<div class="card">
						<div class="img-holder">
							<img src="../../assets/images/cover.jpg " alt="Card image cap">
						</div>
						
						<div class="song-description">
							<h2>{{ song.name }}</h2>
							<p>{{ song.album.title }}</p>
							<p>{{ song.album.artist.name }}</p>
						</div>
							
						<div class="play-icon" (click)="playMusic(song)" *ngIf="playSound">
							<div class="circle">
								<div class="triangle"></div>
							</div>
						</div>
						<div class="play-icon" (click)="pauseMusic(song)" *ngIf="!playSound">
							<div class="circle">
								<div class="square"></div>
							</div>
						</div>
						<audio autoplay [src]="songSource"></audio>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>