*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Style the pagination buttons */
  .pagination-btn a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  /* Set the hover and active styles for the pagination buttons */
  .pagination-btn a:hover,
  .pagination-btn a:focus,
  .pagination-btn a:active {
    color: #fff;
    background-color: #333;
    border-color: #333;
  }
  
  /* Set the base styles for the page */
  .card-structure {
    /* font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9; */
    height: 100vh;
    display: grid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
  }
  
.card {
    /* background-color: #111; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 13rem;
    border-radius: 0.3rem;
    padding: 1rem;
    position: relative;
    transition: all 0.4s;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
}

.song-description {
    margin-top: 1rem;
    line-height: 1;
}

.text h2{
    font-size: 1.2rem;
}

.text p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 500;
    color: gray;
}

.play-icon {
    position: absolute;
    top: 45%;
    right: 12%;
    transform: translateY(10px);
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.4));
    opacity: 0;
    transition: all 0.4s;
}

.card:hover .play-icon {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    background-color: #222;
}

.circle{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #ffc107;
    display: grid;
    place-items: center;
    transform: scale(0.95);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid black;
    transform: rotate(90deg);
    margin-left: 0.2rem;
}

.play-icon:hover .circle{
    cursor: auto;
    transform: scale(1);
}